---
import Header from "../components/header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <header>
      <Header />
    </header>
    <main>
      <section class="hero">
        <div>
          <img src="/assets/imgs/pleasant_hero.svg" alt="hero img" />
        </div>
      </section>
      <section></section>
    </main>
    <footer></footer>
  </body>
</html>

<style>
  body {
    background-image: url(/assets/imgs/wallpaper_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  section {
    > div img {
      width: 100%;
    }
  }
</style>
