---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <header>
      <Header />
    </header>
    <main>
      <section class="hero">
        <div class="splash">
          <img src="/assets/imgs/pleasant_hero.svg" alt="hero img" />
        </div>
        <nav class="global_nav">
          <ul>
            <li><a href="">HVORFOR PLEASANT?</a> &#10163;</li>
            <li><a href="">STORIES</a> &#10163;</li>
            <li><a href="/list.astro">SHOP</a> &#10163;</li>
          </ul>
          <ul>
            <li><a href="">FORHANDLERE</a> &#10163;</li>
            <li><a href="">STYLEGUIDE</a> &#10163;</li>
            <li><a href="">GENSALG</a> &#10163;</li>
          </ul>
        </nav>
        <div class="collage">
          <div class="collage-container">
            <img src="/assets/imgs/Pleasant_pic_35.webp" alt="" class="hor" />
            <img src="/assets/imgs/Pleasant_pic_43.webp" alt="" class="ver" />
            <img src="/assets/imgs/Pleasant_pic_41.webp" alt="" class="ver" />
            <img src="/assets/imgs/Pleasant_pic_32.webp" alt="" class="ver" />
            <img src="/assets/imgs/Pleasant_pic_25.webp" alt="" class="hor" />
            <img src="/assets/imgs/Pleasant_pic_15.webp" alt="" class="hor" />
            <img src="/assets/imgs/Pleasant_pic_40.webp" alt="" class="hor" />
            <img src="/assets/imgs/Pleasant_pic_27.webp" alt="" class="hor" />
            <img src="/assets/imgs/Pleasant_pic_19.webp" alt="" class="rot" />
            <img src="/assets/imgs/Pleasant_pic_36.webp" alt="" class="ver" />
          </div>
          <img
            class="spinning-logo"
            src="/assets/imgs/logo_black.svg"
            alt="Logo"
          />
        </div>
      </section>
      <div class="pleasant_text">
        <p>Make life pleasant</p><p>Make life pleasant</p><p>
          Make life pleasant
        </p><p>Make life pleasant</p><p>Make life pleasant</p><p>
          Make life pleasant
        </p>
        <p>Make life pleasant</p>
        <p>Make life pleasant</p>
        <p>Make life pleasant</p>
        <p>Make life pleasant</p>
      </div>
      <section class="categories">
        <div class="menu">
          <div class="menu_row one">
            <div class="menu_item_container one">
              <a href="">
                <img src="/assets/imgs/high_res/clothes.webp" alt="clothes" />
                <h2 class="shadow">TØJ</h2>
                <h2>TØJ</h2>
              </a>
            </div>
            <div class="menu_item_container two">
              <a href="">
                <img
                  src="/assets/imgs/high_res/accessories.webp"
                  alt="Accessories"
                />
                <h2 class="shadow">ACCESSORIES</h2>
                <h2>ACCESSORIES</h2>
              </a>
            </div>
          </div>
          <div class="menu_row two">
            <div class="menu_item_container three">
              <a href="">
                <img
                  src="/assets/imgs/high_res/lifestyle.webp"
                  alt="lifestyle"
                />
                <h2 class="shadow">LIVSSTIL</h2>
                <h2>LIVSSTIL</h2>
              </a>
            </div>
            <div class="menu_item_container four">
              <a href="">
                <img
                  src="/assets/imgs/high_res/shop_the_drop.webp"
                  alt="Shop the drop"
                />
                <h2 class="shadow">SHOP THE DROP</h2>
                <h2>SHOP THE DROP</h2>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="usp">
          <div>
            <img src="assets/imgs/thread.svg" alt="" />
            <h3>Reparations events</h3>
            <p>
              Pleasant afholder repair events, hvor du kan du repareret dit tøj.
              Vi vil gerne minde alle om, at tøj let kan repareres. Kræver en
              reparation nyt stof medfølger der ekstra lapper indvendigt i vores
              tøj.
            </p>
          </div>
          <div>
            <img src="assets/imgs/resale.svg" alt="" />
            <h3>Gensalg</h3>
            <p>
              Har du Pleasant tøj, som du bruger for lidt, kan du returnere det
              og spare op til 50% på dit næste look. Derefter gensælger vi dit
              brugte tøj og giver det en ny chance. Formålet er at cirkulere
              vores tøj mellem flere ejere så det bliver brugt mest muligt.
            </p>
          </div>
          <div>
            <img src="assets/imgs/shirts_recycle.svg" alt="" />
            <h3>upcyclede materialer</h3>
            <p>
              Størstedelen af et stykke tøjs CO2 aftrykket ligger i
              materialefremstillingen. Ved at anvende tekstil, der allerede
              findes i forvejen rammer vi et CO2 aftryk, der sammenlignet med et
              konventionelt produkt, er min. 4 gange så lavt. Dette er på trods
              af, at vores varer skal fragtes både fra Danmark til vores
              produktionslande og retur.
            </p>
          </div>
          <div>
            <img src="assets/imgs/floppy.svg" alt="" />
            <h3>Tidsløse designs</h3>
            <p>
              For at tøj kan blive brugt skal det først sælges. Men det er langt
              fra alt nyt tøj, der bliver solgt. Vi sælger Pleasant tøj uden
              tidspres. Dermed undgår vi at overproducere kollektioner, og
              brænde inde med forældede produkter.
            </p>
          </div>
        </div>
        <div class="flex_center">
          <a href="" class="knap">Læs mere</a>
          <a href="" class="knap cta">Shop nu</a>
        </div>
      </section>
    </main>
    <footer><Footer /></footer>
  </body>
</html>

<style>
  a {
    color: var(--links-color);
  }
  html {
    --primary-font: "Courier New", Courier, monospace;
    --secondary-font: "Courier New", Courier, regular;

    --main-margin: 300px;
    --section-spacing: 70px;
    --text-spacing: 1em;

    --primary-color: #4a997c;
    --secondary-color: white;
    --links-color: #551a8b;
  }
  :root {
    font-family: var(--primary-font);
  }
  body::-webkit-scrollbar {
    display: none;
  }
  body {
    background-image: url(/assets/imgs/wallpaper_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  section {
    > div img {
      width: 100%;
    }
  }
  section:not(.hero) {
    margin-top: var(--section-spacing);
  }
  .flex_center {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  .splash {
    /* padding-top: 40px; */
    width: 100vw;
    overflow: hidden;
    transform: translateY(37px);
  }
  .global_nav {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;

    > ul li {
      font-family: var(--primary-font);
      font-size: 20px;
      list-style: none;
    }
    > ul li a:hover {
      color: blue;
    }
    > ul:nth-child(2) {
      text-align: right;
      padding-right: 40px;
    }
  }
  .collage {
    perspective: 1000px;
    position: relative;
    height: fit-content;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    /* overflow: hidden; */
    pointer-events: none;
    user-select: none;
    outline: none;
  }
  .collage-container {
    transition: transform 0.15s ease-out;
    transform-style: preserve-3d;
    will-change: transform;
    position: relative;
    width: 100vw;
    height: 80vh;
    position: relative;
    margin-bottom: 150px;
    margin-top: -50px;
    > img.ver {
      max-width: 300px;
      height: auto;
      position: absolute;
    }
    > img.hor {
      max-height: 300px;
      width: auto;
      position: absolute;
    }
    > img.rot {
      transform: rotate(-90deg);
      max-height: 300px;
      width: auto;
      position: absolute;
    }
  }
  .spinning-logo {
    width: 300px;
    position: absolute;
    animation: spinY 4s linear infinite;
    transform-style: preserve-3d;
    display: inline-block;
    transform-origin: center center;
    top: 40%;
    filter: invert(1);
  }
  .collage-container img:nth-child(1) {
    top: 10%;
    left: 9%;
    transform: scale(1);
  }

  .collage-container img:nth-child(2) {
    top: 3%;
    left: 45%;
    transform: scale(1);
    z-index: 10;
  }

  .collage-container img:nth-child(3) {
    top: 11%;
    left: 30%;
    transform: scale(1.2);
  }

  .collage-container img:nth-child(4) {
    top: 45%;
    left: 3%;
    transform: scale(1.2);
    z-index: 0;
  }

  .collage-container img:nth-child(5) {
    top: 71%;
    left: 48%;
    transform: scale(1.2);
    z-index: 11;
  }

  .collage-container img:nth-child(6) {
    top: 25%;
    left: 60%;
    transform: scale(1.4);
  }

  .collage-container img:nth-child(7) {
    top: 50%;
    left: 20%;
    transform: scale(0.8);
    z-index: 11;
  }

  .collage-container img:nth-child(8) {
    top: 66%;
    left: 74%;
    transform: scale(0.82);
    z-index: 11;
  }

  .collage-container img:nth-child(9) {
    top: 69%;
    left: 20%;
    transform: scale(0.88) rotate(-90deg);
    z-index: 11;
  }

  .collage-container img:nth-child(10) {
    top: 28%;
    left: 83%;
    transform: scale(0.8);
  }

  .menu div.menu_row.one,
  .menu div.menu_row.two {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5px;
    margin: 0 5px 5px 5px;

    > .menu_item_container.one a,
    .menu_item_container.two a,
    .menu_item_container.three a,
    .menu_item_container.four a {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 600px;
      overflow: hidden;
    }
    > .menu_item_container.one a img,
    .menu_item_container.two a img,
    .menu_item_container.three a img,
    .menu_item_container.four a img,
    .menu_item_container.one a h2,
    .menu_item_container.two a h2,
    .menu_item_container.three a h2,
    .menu_item_container.four a h2 {
      grid-area: 1/1/2/2;
      position: absolute;
      object-fit: cover;
      height: 100%;
      color: white;
      font-family: var(--primary-font);
      font-size: 5vw;
      transition: 0.3s ease-out;
    }
  }
  .menu div.menu_row.two {
    grid-template-columns: 2fr 1fr;
  }
  .menu_item_container a h2 {
    left: 2%;
  }
  .shadow {
    color: var(--primary-color) !important;
    transform: translate(2%, 1%);
  }

  .menu_item_container:hover a img {
    transform: scale(1.1);
    filter: brightness(120%);
  }
  .usp {
    display: flex;
    justify-content: space-around;
    > div {
      display: flex;
      flex-direction: column;
      max-width: 360px;
      subgrid:;
      align-items: center;
    }
  }
  .usp div img {
    max-height: 200px;
  }
  .usp div h3,
  .usp div p {
    /* color: var(--primary-color); */
  }
  a.knap {
    justify-self: center;
    margin: 1em 0;
    background-color: black;
    border: 2px outset rgb(27, 27, 27);
    color: white;
    padding: 0.5em 1em;
    transition: 0.05s ease-in;
  }
  a.knap:hover {
    background-color: gray;
    border: 2px outset rgb(166, 166, 166);
    cursor: pointer;
  }
  a.knap.cta {
    background-color: var(--primary-color);
    border: 2px outset green;
  }
  a.knap.cta:hover {
    background-color: rgb(133, 203, 164);
    border: 2px outset rgb(112, 189, 136);
  }
  .pleasant_text {
    display: flex;
    gap: 2em;
    flex-wrap: nowrap;
    width: 100vw;
    overflow: hidden;
    > p {
      text-wrap: nowrap;
    }
  }
</style>
