---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---

<Header />

<main>
  <h1>Hello, this is the page content!</h1>
  <a href="/about">Go to About</a>
</main>

<Footer />
