---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import Filters from "../components/filters.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List view</title>
  </head>
  <body>
    <header>
      <Header />
    </header>
    <main>
      <section class="hero">
        <div class="splash">
          <img src="/assets/imgs/pleasant_hero.svg" alt="hero img" />
        </div>
      </section>
      <section class="filters">
        <div class="flex space-between">
          <div>
            <a href="/">Hjem</a> > <a href="/#categories">Kategorier</a> > <a
              href="/list"
            >
              Tøj</a
            >
          </div>
          <div>
            <p>
              <label for="category">Sorter:</label>
              <select name="category" id="category">
                <option value="clothes">Højeste pris</option>
                <option value="clothes">Laveste pris</option>
                <option value="accessories">Rabat</option>
                <option value="lifestyle">Nyeste</option>
              </select>
            </p>
          </div>
        </div>
      </section>
      <section>
        <div class="shop_module">
          <Filters />
          <div class="shop_grid_container">
            <h2>TØJ</h2>
            <div class="shop_grid">
              <div class="card">
                <span class="udsolgt">Udsolgt</span>
                <span class="discount">20%</span>
                <div class="image">
                  <img
                    src="/assets/imgs/produkter/tiki_upcycled_folded.webp"
                    alt="tiki"
                    class="main"
                  />
                  <img
                    src="/assets/imgs/produkter/tiki_upcycled_unfolded.webp"
                    alt="tiki"
                    class="alternative"
                  />
                </div>
                <div class="desc">
                  <p>Tiki upcycled shirt</p>
                  <p>649,00 DKK</p>
                </div>
              </div>
              <div class="card">
                <span class="udsolgt">Udsolgt</span>
                <span class="discount">20%</span>
                <div class="image">
                  <img
                    src="/assets/imgs/produkter/tiki_upcycled_folded.webp"
                    alt="tiki"
                    class="main"
                  />
                  <img
                    src="/assets/imgs/produkter/tiki_upcycled_unfolded.webp"
                    alt="tiki"
                    class="alternative"
                  />
                </div>
                <div class="desc">
                  <p>Tiki upcycled shirt</p>
                  <p>649,00 DKK</p>
                </div>
              </div>
              <div class="card">
                <span class="udsolgt">Udsolgt</span>
                <span class="discount">20%</span>
                <div class="image">
                  <img
                    src="/assets/imgs/produkter/tiki_upcycled_folded.webp"
                    alt="tiki"
                    class="main"
                  />
                  <img
                    src="/assets/imgs/produkter/tiki_upcycled_unfolded.webp"
                    alt="tiki"
                    class="alternative"
                  />
                </div>
                <div class="desc">
                  <p>Tiki upcycled shirt</p>
                  <p>649,00 DKK</p>
                </div>
              </div>
              <div class="card">
                <span class="udsolgt">Udsolgt</span>
                <span class="discount">20%</span>
                <div class="image">
                  <img
                    src="/assets/imgs/produkter/tiki_upcycled_folded.webp"
                    alt="tiki"
                    class="main"
                  />
                  <img
                    src="/assets/imgs/produkter/tiki_upcycled_unfolded.webp"
                    alt="tiki"
                    class="alternative"
                  />
                </div>
                <div class="desc">
                  <p>Tiki upcycled shirt</p>
                  <p>649,00 DKK</p>
                </div>
              </div>
              <div class="card">
                <span class="udsolgt">Udsolgt</span>
                <span class="discount">20%</span>
                <div class="image">
                  <img
                    src="/assets/imgs/produkter/tiki_upcycled_folded.webp"
                    alt="tiki"
                    class="main"
                  />
                  <img
                    src="/assets/imgs/produkter/tiki_upcycled_unfolded.webp"
                    alt="tiki"
                    class="alternative"
                  />
                </div>
                <div class="desc">
                  <p>Tiki upcycled shirt</p>
                  <p>649,00 DKK</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <footer>
        <Footer />
      </footer>
    </footer>
  </body>

  <style>
    h2 {
      font-size: 2em;
    }
    a {
      color: var(--links-color);
    }
    html {
      --primary-font: "Courier New", Courier, monospace;
      --secondary-font: "Courier New", Courier, regular;

      --main-margin: 300px;
      --section-spacing: 70px;
      --text-spacing: 1em;

      --primary-color: #4a997c;
      --secondary-color: white;
      --links-color: #551a8b;
      --discount-color: rgb(238, 143, 126);
      --out-of-stock-color: rgb(0, 0, 0);
    }
    :root {
      font-family: var(--primary-font);
    }
    body::-webkit-scrollbar {
      display: none;
    }
    body {
      background-image: url(/assets/imgs/wallpaper_logo.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
    }
    .splash {
      /* padding-top: 40px; */
      width: 100vw;
      overflow: hidden;
      transform: translateY(37px);
    }
    section {
      > div img {
        width: 100%;
      }
    }
    .flex.space-between {
      justify-self: center;
      margin-top: 50px;
      width: 92%;
      display: flex;
      justify-content: space-between;
    }
    .shop_module {
      justify-self: center;
      display: grid;
      grid-template-columns: 1fr 4.5fr;
      /* border: 1px solid blue; */
      width: 92%;
    }
    .shop_grid_container {
      margin: 0 0 0 30px;
    }
    .card {
      position: relative;
      /* max-width: 300px; */
      border: 1px solid black;
      background-color: white;
      > .image {
        overflow: hidden;
        width: 100%;
        aspect-ratio: 3/4;
        display: grid;
        grid-template-columns: 1fr;
      }
      > .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        grid-area: 1/1/2/2;
      }
      > .image .alternative {
        display: none;
      }
      > .image:hover .alternative {
        display: inline-block;
      }
      > .desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 95%;
        justify-self: center;
        > :nth-child(1) {
          font-weight: 800;
          font-size: 1.4em;
          margin: 0.4em 0 0 0;
        }
      }
      > span {
        position: absolute;
        justify-content: center;
        align-items: center;
        background-color: red;
        padding: 0.5em 1em;
        z-index: 10;
      }
      > span.discount {
        background-color: var(--primary-color);
        color: white;
        top: 11%;
      }
      > span.udsolgt {
        background-color: var(--out-of-stock-color);
        color: white;
        top: 3%;
      }
    }
    .shop_grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 5px; /* Optional: spacing between cards */
    }
  </style>
</html>
